.form_fields {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.form_fields label {
  margin-bottom: 7px;
  color: #222;
  font-weight: bolder;
  font-size: .9em;
}

.form_fields input {
  padding: 10px;
  outline: none;
  border: 1.9px solid black;
}

.form_fields input::placeholder {
  font-size: 1.1em;
}