footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-top: 3px solid rgb(126, 126, 126);
  background-image: linear-gradient(to right, #555, #444, #333);
}

footer span a svg {
  color: #fff;
  margin: 0 10px;
  font-size: 1.8em;
}