header {
  background-image: linear-gradient(to right, #555, #444, #333);
  max-width: 1600px;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

header .header_main_container {
  width: 100%;
}

header .header_text {
  padding: 25px 25px 35px 50px;
}

header .header_main_container .text_h1 h1{
  font-size: 3.5em;
  text-transform: uppercase;
  color: #f7750b;
  line-height: 85px;
}

header .header_main_container .text_h1 h1 span {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}

header .header_main_container .text_p p {
  margin-top: 35px;
  color: #fff;
  font-size: 1.2em;
}

header .header_main_container .infos {
  padding: 0 40px;
  display: flex;
}

header .header_main_container .header_buttons {
  display: flex;
  padding: 35px 50px 0 50px;
}

header .header_bg_container {
  background-color: #f7750b;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .header_bg_container span {
  display: flex;
  flex-direction: column;
}

header .header_bg_container a svg {
  color: #fff;
  margin: 10px 0;
  font-size: 1.8em;
}

header .header_bg_container p {
  color: rgb(231, 231, 231);
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
  margin-top: 10px;
}

@media (max-width: 1150px) {
  header .header_main_container .text_p p {
    margin-top: 20px;
  }

  header .header_main_container .header_buttons {
    padding-top: 25px;
  }
}

@media (max-width: 905px) {
  header .header_text {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 740px) {
  header .header_main_container .text_h1 h1 {
    font-size: 2.5em;
    line-height: 65px;
  }

  header .header_main_container .text_p p {
    font-size: 1.1em;
  }
}

@media (max-width: 600px) {
  header .header_main_container .text_h1 h1 {
    text-align: center;
  }

  header .header_main_container .text_p p {
    text-align: center;
  }
  header .header_main_container .infos {
    justify-content: center;
  }

  header .header_main_container .header_buttons {
    display: flex;
    justify-content: center;
  }

  header .header_bg_container {
    display: none;
  }
}

@media (max-width: 435px) {
  header .header_text {
    padding: 25px;
  }

  header .header_main_container .text_h1 h1 {
    font-size: 2.2em;
    line-height: 50px;
  }

  .infos_buttons {
    display: flex;
  }

  header .header_main_container .infos {
    padding: 0 10px;
    flex-wrap: wrap;
  }

  header .header_main_container .header_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 0;
    width: 100%;
  }
}