.plans_container {
  padding-bottom: 35px;
}

.plans_container h1 {
  color: #fff;
  font-size: 3.2em;
  text-transform: uppercase;
  text-align: center;
  padding: 45px 0 25px 0;
}

.plans_container h1 span {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}

.plans_card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.plans {
  width: 275px;
  height: 420px;
  padding: 20px 15px;
  background-color: rgb(97, 97, 97);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.329);
}

.plans_card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plans_card h2 {
  color: #fff;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: .95em;
}

.plans_card h3 {
  color: #fff;
  margin-top: 10px;
  font-size: 2.9em;
}

.plans_card svg {
  font-size: 2.2em;
  color: #f7750b;
}

.check_text_plans {
  color: #fff;
}

.check_text_plans svg{
  font-size: 1.5em;
  color: #fff;
  margin-right: 7px;
}

.plans_button {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.plans_button span {
  display: flex;
  align-items: center;
  margin: 5px 0 15px 0;
}

.plans_button span svg {
  font-size: 1.2em;
  color: #fff;
}

.plans_button span svg {
  margin-left: 5px;
}

.plans_premium {
  background-image: linear-gradient(to bottom, #f0940b, #f7750b, #f05f0b);
  padding: 45px 15px;
  width: 275px;
  height:450px;
  margin: 0 15px;
}

.plans_premium svg {
  color: #fff;
}

@media (max-width: 1320px) {
  .plans_container h1 {
    font-size: 2.7em;
  }
}

@media (max-width: 1130px) {
  .plans_container h1 {
    font-size: 2.4em;
  }
}

@media (max-width: 955px) {
  .plans, .plans_premium {
    margin: 10px;
  }
}

@media (max-width: 689px) {
  .plans, .plans_premium {
    width: 425px;
  }
}

@media (max-width: 510px) {
  .plans_container h1 {
    font-size: 2em;
  }

  .plans, .plans_premium {
    width: 300px;
  }
}